# Ignore Python cache files
__pycache__/
*.py[cod]
app.py
newbot.py
*.pyc
.xlsx
module/Depot.xlsx
module/distict&warehouse.xlsx
# Ignore environment files
.env
*.zip
# Ignore temporary files
*.log
*.tmp
*.png
*.html
# Ignore IDE/editor files
.vscode/
.idea/
